<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.regadera.regapasswordmanagerfoss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RegaPasswordManagerFOSS">
        <activity android:name=".IndexPageVC"
            android:label="Menú"/>
        <activity android:name=".webData.modules.update.WebUpdateVC" />
        <activity
            android:name=".webData.modules.add.WebLogsAdd"
            android:label="Web"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".webData.modules.list.WebLogsLists"
            android:label="Lista de Webs"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".appData.modules.add.AppLogsAdd"
            android:label="App"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".appData.modules.list.AppLogsLists"
            android:label="Lista de Apps"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginPageVC"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>